#header {
  height: 50px;
}

.search-box {
  display: inline-block;
}

.search-box-container {
  margin-right: 10px;
  position: relative;
}

.search-box-container input {
  font-size: 12px;
  padding-left: 10px;
  width: 160px;
  border-radius: 25px;
  border: 0px;
}

.search-icon{
  position: absolute;
  top: 0;
  right: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  font-size: 20px;
}

.show-title.year {
  margin-top: 20px;
  width: 60%;
}

#search-game {
  margin-top: 15px;
}

.follow-button {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 5px;
  font-size: 12px;
  width: 63.5px;
  text-align: center;
  border-color: #00BFFF; 
  cursor: pointer;
}

.search-criteria {
  padding:5px;
}

.search-criteria.selected {
  background-color: skyblue;
  color: white;
}

.search-criteria:hover {
  background-color: skyblue;
  transition: 0.5s;
  color: white;
}

.result-counter {
  border:solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #686868;
  border-width: 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.counter {
  font-weight: bold;
  font-size: 24px;
  color: skyblue;
}

.follow-button:hover {
  background-color: #00BFFF;
  color: white;
  transition-duration: 0.5s;
}

.follow-button::before {
  content: "Follow";
}

.follow-button.following {
  background-color: #00BFFF;
  color: white;
}

.follow-button.following::before {
  content: "Following"
}

.follow-button.following:hover {
  transition-duration: 0s;
  background-color: red;
  border-color: red;
}

.follow-button.following:hover:before {
  content: "Unfollow";
}


.profile-card-user-info {
  margin-top: 8px;
  width: 100%;
}

.profile-username-section {
  height: 22px;
  line-height: 1.3;
  margin: -2px;
  white-space: nowrap;
}

.profile-username-link span {
  display: block;
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-username-link .profile-email {
  font-size: 12px;
  color: #686868;
}



/* for visitor header */
.account-action-group {
  margin-right: 14px;
  margin-top: 8px;
}

.account-action {
  font-size: 18px;
}

.account-action:hover {
  text-decoration: none;
  color: #f8f9fa;
}

.divider {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
}

/* for user header */
#avatar {
  background-image: url('/assets/images/no_photo');
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

#avatarDropdown {
  font-size: 13px;
}

.navbar-nav.header-dropdown {
  margin-right: 8px;
}

.popover-bg {
  width: 250px;
  height: 300px;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
}

#popover-override {
  padding: 0;
  border-radius: 45px;
}

.avatar-title {
  width: 250px;
  padding-left: 3px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.list-count {
  padding-left: 3px;
  color: white;
}

.friend-count {
  padding-left: 3px;
  color: white;
}

.avatar-bg {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-position: top center;
}