
html body {
  height: 100%;
}

img {
  border: 0;
}

#content-body {
  background-color: #dcdcdc;
  height: 100%;
}

.overview-img-top {
  width: 100%;
  height: 180px;
  background-image: url('/assets/image/no_photo');
  background-size: cover;
  background-position: top center;
}

#overview-bg-img {
  width: 100%;
  height: 500px;
  background-color: #686868;
  background-size: cover;
  background-position: top center;
}

.recommendation-list {
  width: 286px;
  margin-top: 3em;
  margin-left: 50px;
  box-shadow: 5px 10px 5px 0;
}

.AppContainer {
  height: 100%;
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.more-option {
  margin-left: 10px;
  cursor: pointer;
}

#confirmDelete:hover {
  border-color: red;
  background-color: red;
}

.stub-card-link {
  min-height: 351px;
  width:284px; 
  margin-left:50px; 
  margin-top:3em; 
  border: dotted; 
  border-color: #dcdcdc; 
  border-width: 3px;
}

.stub-card-link:hover {
  text-decoration: none;
}

@media(max-width: 1400px) {
  #overview-bg-img {
    width: 100%;
    height: 320px;
    background-color: #686868;
    background-size: cover;
    background-position: top center;
  }

  .recommendation-list {
    width: 246px;
    margin-top: 3em;
    margin-left: 50px;
    box-shadow: 5px 10px 5px 0;
  }

  .stub-card-link {
    min-height: 351px;
    width:246px; 
    margin-left:50px; 
    margin-top:3em; 
    border: dotted; 
    border-color: #dcdcdc; 
    border-width: 3px;
  }

  .stub-card-link:hover {
    text-decoration: none;
  }

  .card-title{
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
  }

  .AppContainer {
    position: relative;
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.big-avatar-container-canvas {
  left: 10px;
  bottom: -87px;
  position: absolute;
  z-index: 3;
}

.big-avatar-container {
  overflow: hidden;
  background-color: white;
  border: 5px solid #343a40;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.big-avatar {
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

.username-container {
  position: absolute;
  left: 220px;
  font-size: 36px;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  bottom: 0;
}

#overview-nav-bar {
  height: 60px; 
  width: 100%;
}

.overview-nav-bar-stat {
  margin-left: 200px;

}

.overview-follow {
  display: inline-block;
  position: relative;
}

.overview-follow-button.follow-button {
  position: absolute;
  bottom: 4px;
  left: 6px;
  background-color: #00BFFF;
  color: white;
}

.overview-follow-button.follow-button:hover {
  background-color: #00FFFF;
}

.stat-item {
  color: white;
  width: 70px;
  padding-top: 5px;
  display: inline-block;
  cursor: pointer;
}

.stat-item:hover {
  color: #343a40;
  transition-duration: 0.25s;
  background-color: white; 
  border-bottom-width: 2px;
  border: solid;
}

.stat-item.selected {
  color: #343a40;
  transition-duration: 0.25s;
  background-color: white; 
  border-bottom-width: 2px;
  border: solid;
}

.stat-title {
  color: inherit;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: block;
}

.stat-value {
  color: inherit;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  display: block;
}

#list-content-section {
  background-color: white;
}

.settings-group {
  width: 200px;
  text-align: center;
}

.view-setting {
  font-size: 24px;
  font-weight: bold;
  color: #dcdcdc;
  cursor: pointer;
}

.view-setting:not(.selected):hover {
  color: #ededed;
}

.view-setting.selected {
  color: #343a40;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

#content-container {
  min-height: 450px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
}

.empty-reminder {
  width: 80%;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 60px;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
}

.profile-card {
  background-color: white;
  box-sizing: border-box;
  text-align: left;
  width: 289px;
  height: 251px;
  box-shadow: 3px 3px 1px 0;
  margin-left: 10px;
  margin-top: 30px;
}

.profile-card-bg {
  background-position: 0 50%;
  background-size: 100%;
  display: block;
  height: 90px;
  background-color: #686868;
}

.profile-card-content {
  margin: 13px 15px;
  position: relative;
}

.profile-card-avatarlink {
  border-radius: 50%;
  display: inline-block;
  margin: -45px 2px 0 -3px;
  padding: 3px;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

.profile-avatar-image {
  border-radius: 50%;
  display: block;
  height: 70px;
  width: 70px;
}

.profile-card-actions {
  display: inline-block;
  height: 35px;
  margin: 0 0 -4px 0;
  position: absolute;
  right: 0;
  vertical-align: bottom;
}

.follow-button {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 5px;
  font-size: 12px;
  width: 63.5px;
  text-align: center;
  border-color: #00BFFF; 
  cursor: pointer;
}

.follow-button:hover {
  background-color: #00BFFF;
  color: white;
  transition-duration: 0.5s;
}

.follow-button::before {
  content: "Follow";
}

.follow-button.following {
  background-color: #00BFFF;
  color: white;
}

.follow-button.following::before {
  content: "Following"
}

.follow-button.following:hover {
  transition-duration: 0s;
  background-color: red;
  border-color: red;
}

.follow-button.following:hover:before {
  content: "Unfollow";
}


.profile-card-user-info {
  margin-top: 8px;
  width: 100%;
}

.profile-username-section {
  height: 22px;
  line-height: 1.3;
  margin: -2px;
  white-space: nowrap;
}

.profile-username-link span {
  display: block;
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-username-link .profile-email {
  font-size: 12px;
  color: #686868;
}

.card-text {
  max-height: 50px;
  overflow: hidden;
}

.list-group {
  width: 65%;
}

.list-group-item:hover {
  color: white;
  background-color: #686868;
}

.list-view-link {
  color: inherit;
}

.list-view-link:hover {
  color: inherit;
  text-decoration: none;
}

.alert.list-view: {
  margin-bottom: 0;
}

.alert.list-view:hover {
  color: white;
  background-color: black;
}