
.overview-img-top {
  width: 100%;
  height: 180px;
  background-image: url('/assets/image/no_photo');
  background-size: cover;
  background-position: top center;
}

#list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommendation-list {
  width: 286px;
  margin-top: 2em;
  margin-left: 50px;
  box-shadow: 5px 10px 5px 0;
}

.card-text {
  max-height: 50px;
  overflow: hidden;
}