
html {
  height: 100%;
  background-color: #dcdcdc;
}

html body {
  background-color: #dcdcdc;
}

.menu-col {
  max-width: 320px;
}

.setting-section {
  margin-top: 30px;
}

#setting-container {
  min-height: 230px;
  background-color: white;
}

.user-info {
  height: 200px;
  background-color: white;
}

.user-cover {
  background-color: "#686868";
  background-size: cover;
  background-position: top center;
  height: 120px;
  position: relative;
}

.avatar-container {
  left: 20px;
  bottom: -50px;
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

.setting-avatar {
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

.user-info .username-info-container {
  margin-top: 8px;
  padding-left: 36%;
}

.setting-user-text {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: block;
}

.setting-user-text.email {
  font-size: 12px;
}

#menu {
  margin-top: 15px;
  height: 100px;
  background-color: white;
}

#menu ul {
  list-style: none;
  padding: 0;
}

.setting-opt {
  height: 35px;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 8px;
  border:solid;
  border-color: #dcdcdc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 0.5px;
  cursor:pointer;
}

.setting-opt:hover{
  transition: 0.3s;
  background-color: #686868;
  color: white;
}

.setting-opt:hover:after {
  transition: 0.3s;
  content: "<";
  color: yellow;
  margin-left: 5px;
}

.setting-opt:hover:before {
  transition: 0.3s;
  content: ">";
  color: yellow;
  margin-right: 5px;
}

.setting-opt.selected {
  background-color: #686868;
  color: white;
}

.account-setting-section {
  padding-left: 50px;
  padding-right: 50px;
}

#setting-container .hidden {
  display: none;
}

.setting-name-section {
  height: 50px;
  padding-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  padding-left: 10px;
  font-size: 24px;
  border-bottom: 1px solid;
  border-color: #686868;
}

.settings-input {
  height: 25px;
}

.setting-item {
  font-weight: bold;
}

.settings-bottom {
  margin-top: 10px;
}

.image-label {
  overflow: hidden;
}

.avatar-preview {
  display: none;
  width: 150px;
  height: 150px;
  border: dotted;
  border-color: #dcdcdc;
  margin-bottom: 40px;
}

.cover-preview {
 display: none;
 width: 100%;
 height: auto;
 border: dotted;
 border-color: #dcdcdc;
 margin-bottom: 40px; 
}

.cover-preview img{
  height: 100%;
  width: 100%;
}

.avatar-preview img {
  height: 100%;
  width: 100%;
}

#saveUsername-botton, #savePassword-botton {
  border:solid;
  border-color: #686868;
  border-width: 1px;
  border-radius: 15px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: #686868;
}

#saveUsername-botton:hover, #savePassword-botton:hover {
  transition: 0.5s;
  background-color: #686868;
  color: white;
}