<head>  
  <script src="/assets/javascript/jquery"></script>
  <script src="/assets/javascript/popper"></script>
  <script src="/assets/javascript/bootstrap"></script>
  <script src="/assets/javascript/require_header"></script>
  <script>
    $("head").append('<link rel="stylesheet" type="text/css" href="/assets/css/header">');
    $("head").append('<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap">');
    $("head").append('<link rel="icon" href="/assets/image/favicon">">');
  </script>
</head>