<!DOCTYPE html>
<html>
<head>
	<title>create</title>
	<link rel="import" href="/setup_assets">
	<link rel="stylesheet" type="text/css" href="/assets/css/list">
	<link rel="stylesheet" type="text/css" href="/assets/css/overview">
	<link rel="stylesheet" type="text/css" href="/assets/css/create">
	<script src="/assets/javascript/create"></script>

</head>
<body>
	<!-- header -->
	<div id="header" class="bg-dark"></div>
	<div id="content-body">
		<div id="overview-bg-img"></div>
		<div id="list-content-section" class="AppContainer">
			<div id="article-container">
				<div id="article-title-section">
				<form>
					<div><input type="file" id="pic"  name="pic"></div>
					<div>
						<span class="title-text">Title Here:</span>
						<input id="title" class="input-text" placeholder="List title">
					</div>
					<div>
						<span class="title-text">Description:</span>
						<textarea id="desc" placeholder="List description"></textarea>
					</div>
					<div>
						<button id="Submit"> Submit </button>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>