<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/list">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <link rel="stylesheet" type="text/css" href="/assets/css/create">
  <script src="/assets/javascript/create"></script>

</head>
<body>
  <!-- header -->
  <div id="header" class="bg-dark"></div>
  <div id="content-body">
    <div id="overview-bg-container">
      <div id="overview-bg-img"></div>
      <div id="overview-bg-overlay">
        <span id="upload-text">Choose a list cover</span>
      </div>
    </div>
    <div id="list-content-section" class="AppContainer">
      <div id="article-container">
        <div id="article-title-section">
          <form>
            <div><input type="file" id="pic"  name="pic"></div>
            <div>
              <span class="title-text">Title Here:</span>
              <input id="title" class="input-text" placeholder="List title">
            </div>
            <div>
              <span class="title-text">Description:</span>
              <textarea id="desc" placeholder="List description"></textarea>
            </div>
            <div>
              <span id="add-game" data-toggle="modal" data-target="#popup-site"> Add Game </span>
            </div>

            <div id="game-preview"></div>
            <!-- Modal -->
            <div data-spy="scroll" data-target="initial-container" data-offset="0" class="modal fade" id="popup-site" tabindex="-1" role="dialog">
              <div id="game-management-toolbar">
                <div class="initial-container">
                  <span id="create-game">Add +</span>
                </div>
              </div>
              <div class="modal-dialog modal-lg popup-content" style="border-radius: 25px;" role="document">
                <div class="modal-content" style="border-radius: 25px;">
                  <div class="popup-icon-section">
                    <span class="close-popup" data-dismiss="modal">&times;</span>
                  </div>
                  <div class="modal-body">
                    <div>
                      <div id="popup-container"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="Submit"> Submit </button>
          <a href= "/overview" id="Cancel"> Cancel </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script type="text/template" data-template="category">
  <div class="category" id="category-${init_id}">
    <div class="category-title">
      ${init}
    </div>
    <div class="category-container"></div>
  </div>
</script>

<script type="text/template" data-template="game-pic">
  <div class="game-container" id="game-${order}">
    <div class="game-pic">
      <img src="${cover_url}">
    </div>
    <div class="game-pic-overlay">
      <div class="game-pic-overlay-detail">
        <span class="game-name details-text game-overlay-name">
          ${game_name}
        </span>
        <span class="game-company details-text">
          ${company}
        </span>
        <span class="sale-date details-text">
          ${date}
        </span>
      </div>
    </div>
  </div>
</script>

  <script type="text/template" data-template="game-recommendation">
    <div class="game-recommendation" id="game-preview-${game-id}">
      <div class="game-info-section">
        <div class="game-cover"></div>
        <div class="game-details">
          <span class="game-name details-text">
            ${game_name}
          </span>
          <span class="game-company details-text">
            ${company}
          </span>
          <span class="sale-date details-text">
            ${sale_date}
          </span>
        </div>
      </div>
      <div id="game-rec-${gameRec-id}" class="recommendation-reason">
        <textarea placeholder="List description"></textarea>
      </div>
      <span id="remove-game-${remove-id}" class="remove-game"> Remove </span>
    </div>
  </script>
</body>
</html>