<!DOCTYPE html>
<html>
<head>
  <title>create</title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/list">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <link rel="stylesheet" type="text/css" href="/assets/css/create">
  <script src="/assets/javascript/create"></script>

</head>
<body>
  <!-- header -->
  <div id="header" class="bg-dark"></div>
  <div id="content-body">
    <div id="overview-bg-img"></div>
    <div id="list-content-section" class="AppContainer">
      <div id="article-container">
        <div id="article-title-section">
          <form>
            <div><input type="file" id="pic"  name="pic"></div>
            <div>
              <span class="title-text">Title Here:</span>
              <input id="title" class="input-text" placeholder="List title">
            </div>
            <div>
              <span class="title-text">Description:</span>
              <textarea id="desc" placeholder="List description"></textarea>
            </div>
            <div>
              <span id="add-game"> Add Game </span>
            </div>
            <div id="popup-site" class="popup">
              <div class="popup-content">
                <div class="popup-icon-section">
                  <span class="close-popup">&times;</span>
                </div>
                <div id="popup-container"></div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="Submit"> Submit </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script type="text/template" data-template="category">
  <div class="category" id="category-${init_id}">
    <div class="category-title">
      ${init}
    </div>
    <div class="category-container"></div>
  </div>
</script>

<script type="text/template" data-template="game-pic">
  <div class="game-container">
    <div class="game-pic">
      <img src="${cover_url}">
    </div>
    <div class="game-pic-overlay">
      <div class="game-pic-overlay-detail">
        <span class="game-name details-text game-overlay-name">
          ${game_name}
        </span>
        <span class="game-company details-text">
          ${company}
        </span>
        <span class="sale-date details-text">
          ${date}
        </span>
      </div>
    </div>
  </div>
</script>
</body>
</html>