<!DOCTYPE html>
<html>
<head>
	<title> index </title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/index">
  <script src="/assets/javascript/index"></script>
</head>
<body>
  <div class="bg">
    <div id="header" class="bg-dark">
    </div>
    <div id="login-section" class="bg-light">
      <div class="title">
        I love it !
        <div class="subtitle"><span class="text-info">a game recommendation system</span></div>
      </div>
      <form>
        <div class="form-group">
          <label for="account">Email address</label>
          <input type="account" class="form-control" id="account" aria-describedby="account" placeholder="Enter your Email address">
          <small id="loginhelp" class="form-text text-muted">Not a user yet? <a href="/register">Click to Register</a></small>
          <small class="warning warning-account">Account cannot be blank</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
          <small class="warning warning-password">Password cannot be blank</small>
        </div>
        <button id="login-botton">Login</button>
      </form>
    </div>
  </div>
</body>
</html>