<!DOCTYPE html>
<html>
<head>
  <title> List </title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <link rel="stylesheet" type="text/css" href="/assets/css/list">
  <script src="/assets/javascript/list"></script>
</head>
<body>
  <div id="header" class="bg-dark"></div>
  <div id="content-body">
    <div id="overview-bg-img">
    </div>
    <div id="list-content-section" class="AppContainer">
      <div id="article-container">
        <div id="article-title-section">
          <div id="article-title">
            <span class="article-title-text">UNKNOWN</span>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item author"><a href="#">Unknown</a></li>
                <li class="breadcrumb-item active title" aria-current="page">Title</li>
                <li class="ml-auto article-action-group">
                  <div>
                    <a href="#" class="btn btn-primary edit">Edit</a>
                    <a href="javascript:;" class="btn btn-secondary delete-article" data-toggle="modal" data-target="#deleteConfirm">Delete</a>
                  </div>
                </li>
              </ol>
            </nav>
          </div>
          <div class="article-subinfo">
            <div class="description">
              
            </div>
            <div class="author-info-section">
              <div id="article-avatar-section">
                <a class="navbar-brand creator-link" href="#"><div id="article-avatar"></div></a>
              </div>
              <div class="author-info profile-username-link">
                <span class="author-info-text username">Unknown</span>
                <span class="author-info-text profile-email">unknown@who.com</span>
                <span class="author-info-text created-date text-muted">Created on: 2018 MAY 30</span>
              </div>
            </div>
          </div>
        </div>
        <div id="article-content-section"></div>

        <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete this item?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirmDelete" class="btn btn-secondary">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    <% $var %>
  </script>
  <script type="text/template" data-template="game-recommendation">
    <div class="game-recommendation" id="${game-id}">
      <div class="game-info-section">
        <div class="game-cover"></div>
        <div class="game-details">
          <span class="game-name details-text">
            ${game_name}
          </span>
          <span class="game-company details-text">
            ${company}
          </span>
          <span class="sale-date details-text">
            ${sale_date}
          </span>
        </div>
      </div>
      <div class="recommendation-reason">
        <p>
          ${reason}
        </p>
      </div>
    </div>
  </script>
</body>
</html>