<!DOCTYPE html>
<html>
<head>
	<title> Sessoion Time Out </title>
	<link rel="stylesheet" type="text/css" href="/assets/css/index">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap">
  <script src="/assets/javascript/jquery"></script>
</head>
<body>
  <div id="header" class="bg-dark">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light active" href="#">About</a>
      </li>
    </ul>
  </div>
  <div id="login-section" class="bg-light">
    <div class="title">
      You have successfully logged out!
    </div>
    <div class="log-back-reminder">Click <a href="/">here</a> to login again</div>
  </div>

  <script src="/assets/javascript/index"></script>
</body>
</html>