<!DOCTYPE html>
<html>
<head>
  <title>Overview</title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <script src="/assets/javascript/overview"></script>
</head>
<body>
  <div id="header" class="bg-dark">
  </div>
  <div id="content-body">
    <div id="overview-bg-img">
      <div class="AppContainer">
        <div class="big-avatar-container-canvas">
          <div class="big-avatar-container">
            <img class="big-avatar" src="/assets/image/no_photo">
          </div>
        </div>
        <div class="username-container">
          Unknown
        </div>
      </div>
    </div>
    <div id="overview-nav-bar" class="bg-dark">
      <div class="AppContainer">
        <ul class="overview-nav-bar-stat">
          <li class="stat-item">
            <span class="stat-title list">Lists</span>
            <span class="stat-value list-value">0</span>
          </li>
          <li class="stat-item">
            <span class="stat-title friend">Friends</span>
            <span class="stat-value friend-value">0</span>
          </li>
        </ul>
      </div>
      
    </div>
    <div id="list-content-section" class="AppContainer">
      <div id="user-view-control">
        <div class="ml-auto settings-group">
          <span class="view-setting">List</span>
          <span class="separator">|</span>
          <span class="view-setting selected">Card</span>
        </div>
      </div>
      <div id="content-container">  
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <script type="text/javascript">
    <% $var %>
  </script>
</body>
</html>