<!DOCTYPE html>
<html>
<head>
  <title>Overview</title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <script src="/assets/javascript/overview"></script>
  <script src="/assets/javascript/chart"></script>
</head>
<body>
  <div id="header" class="bg-dark">
  </div>
  <div id="content-body">
    <div id="overview-bg-img">
      <div class="AppContainer">
        <div class="big-avatar-container-canvas">
          <div class="big-avatar-container">
            <img class="big-avatar" src="/assets/image/no_photo">
          </div>
        </div>
        <div class="username-container">
          Unknown
        </div>
      </div>
    </div>
    <div id="overview-nav-bar" class="bg-dark">
      <div class="AppContainer">
        <ul class="overview-nav-bar-stat">
          <li class="stat-item item-list" data-type="recommendation">
            <span class="stat-title list">Lists</span>
            <span class="stat-value list-value">0</span>
          </li>
          <li class="stat-item item-friend" data-type="friend">
            <span class="stat-title friend">Friends</span>
            <span class="stat-value friend-value">0</span>
          </li>
          <li class="stat-item item-stat" data-type="stat">
            <span class="stat-title">Stat</span>
            <span class="stat-value">&#8734</span>
          </li>
          <li class="overview-follow">
            <div class="overview-follow-button follow-button"></div>
          </li>
        </ul>
      </div>
      
    </div>
    <div id="list-content-section" class="AppContainer">
      <div id="user-view-control">
        <div class="ml-auto settings-group">
          <span class="view-setting">List</span>
          <span class="separator">|</span>
          <span class="view-setting selected">Card</span>
        </div>
      </div>
      <div id="content-container">
      </div>

      <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure to delete this item?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" id="confirmDelete" class="btn btn-primary">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <script type="text/javascript">
    <% $var %>
  </script>
  <script type="text/template" data-template="stub-card">
    <a href="/create" class="stub-card-link" data-toggle="tooltip" data-placement="top" title="create a list">
      <div class="card" style="height: 100%"> 
        <span style="display:block; margin-top:50%; text-align:center; font-size:75px; color:#dcdc;">
          +
        </span>
      </div>
    </a>
  </script>
  <script type="text/template" data-template="stub-list">
    <a href="/create" class="stub-list-link">
      <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="create a list">
        <span>+ Add</span>
      </li>
    </a>
  </script>
  <script type="text/template" data-template="profile-card">
    <div class="profile-card" id="${card-id}">
      <a href="${url-1}" class="profile-card-bg"></a>
      <div class="profile-card-content">
        <a href="${url-2}" class="profile-card-avatarlink">
          <img class="profile-avatar-image" src="${avatar}">
        </a>
        <div class="profile-card-actions">
          <div class="follow-button"></div>
        </div>
        <div class="profile-card-user-info">
          <div class="profile-username-section">
            <a href="${url-3}" class="profile-username-link">
              <span class="profile-username">${username}</span>
              <span class="profile-email">${email}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" data-template="stat-console">
    <div id="stat-console">
    <div class="stat-section">
      <div class="stat-type" data-stat="count"><span class="stat-type-text">List Count<span></div>
      <div class="stat-type" data-stat="average"><span class="stat-type-text">Average list view<span></div>
    </div>
    <div id="stat-container">
    <div id="chart-container">
    </div>
    </div>
  </div>
  </script>
  <script type="text/template" data-template="average-list">
    <div class="extreme-value-container">
      <span class="extreme-title">Extrme:</span>
      <span class="extreme-value">0.00</span>
      <div class="extreme-control-container">
        <span class="extreme-control btn" data-extreme="max">Max</span>
        <span class="extreme-control btn" data-extreme="min">Min</span>
      </div>
    </div>
  </script>
  
</body>
</html>