<!DOCTYPE html>
<html>
<head>
  <title> register </title>
  <link rel="stylesheet" type="text/css" href="/assets/css/register">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap">
  <script src="/assets/javascript/jquery"></script>
</head>
<body>
  <div id="header" class="bg-dark">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light active" href="#">About</a>
      </li>
    </ul>
  </div>
  <div id="register-section" class="bg-light">
    <div class="title">
      I hate it !
      <div class="subtitle"><span class="text-info">a game recommendation system</span></div>
    </div>
    <form>
      <div class="form-group">
        <label for="registeraccount">Email address</label>
        <input type="registeraccount" class="form-control" id="registeraccount" aria-describedby="registeraccount" placeholder="Enter your Email address">
        <small id="loginhelp" class="form-text text-muted">Already a user? <a href="/">Click to Login</a></small>
        <small class="warning warning-registeraccount">Account cannot be blank</small>
      </div>
      <div class="form-group">
        <label for="registerpassword">Password</label>
        <input type="password" class="form-control" id="registerpassword" placeholder="Password">
        <small class="warning warning-registerpassword">Password cannot be blank</small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="repeatpassword" placeholder="Repeat Password">
        <small class="warning warning-repeatpassword">Password cannot be blank</small>
        <small class="warning warning-unmatchpassword">Password doesn't match</small>
      </div>

      <button id="register-botton">Register</button>
    </form>
  </div>



  <script src="/assets/javascript/register"></script>
</body>
</html>