<!DOCTYPE html>
<html>
<head>
	<title> Sessoion Time Out </title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/index">
</head>
<body>
  <div id="header" class="bg-dark">
  </div>
  <div id="login-section" class="bg-light">
    <div class="title">
      Your login has expired
    </div>
    <div class="log-back-reminder">Click <a href="/index">here</a> to login again</div>
  </div>

  <script src="/assets/javascript/index"></script>
</body>
</html>