<!DOCTYPE html>
<html>
<head>
  <title> settings </title>
  <link rel="import" href="/setup_assets">
  <link rel="stylesheet" type="text/css" href="/assets/css/settings">
  <link rel="stylesheet" type="text/css" href="/assets/css/index">
  <link rel="stylesheet" type="text/css" href="/assets/css/overview">
  <script src="/assets/javascript/settings"></script>
</head>
<body>
  <div id="header" class="bg-dark">
  </div>
  <div class="container">
    <div class="row setting-section">
      <div class="col-4 menu-col">
        <div class="user-info">
          <div class="user-cover bg-dark">
            <a href="#" class="avatar-change" data-type="image">
              <div class="avatar-container">
                <img class="setting-avatar" src="/assets/image/no_photo">
              </div>
            </a>
          </div>
          <div class="username-info-container">
            <span class="setting-user-text username">Unknown</span>
            <span class="setting-user-text email text-muted">unknown@who.com</span>
          </div>
        </div>
        <div id="menu">
          <ul>
            <li class="setting-opt account selected" data-type="account">Account</li>
            <li class="setting-opt password" data-type="password">Password</li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div id="setting-container">

          <!-- settings Account -->
          <div class="setting-container-content account">
            <div class="setting-name-section">Account</div>
            <div class="account-setting-section">
              <form>
                <div class="row">
                  <div class="col-3"> 
                    <span class="setting-item">Username</span>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <input type="Username" class="form-control settings-input" id="username" placeholder="New Username">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <span class="setting-item">Email</span>
                  </div>
                  <div class="col-8">
                    <div class="form-group">
                      <input type="Email" class="form-control settings-input" id="email" placeholder="New Email">
                    </div>
                  </div>
                </div>
              </div>
              <button id="saveUsername-botton" class="btn">Save</button>
            </form>
          </div>

          <!-- settings password -->
          <div class="setting-container-content password hidden">
            <div class="setting-name-section">Password</div>
            <div class="account-setting-section">
              <form>
                <div class="row">
                  <div class="col-3"> 
                    <span class="setting-item">Password</span>
                  </div>
                  <div class="col-8">
                    <div class="form-group">
                      <input type="password" class="form-control settings-input " id="Password" placeholder="New Password">
                      <small class="warning warning-Password">Password cannot be blank</small>
                      <input type="password" class="form-control settings-input settings-bottom" id="repeatPassword" placeholder="Repeat New Password">
                      <small class="warning warning-repeatPassword">Password cannot be blank</small>
                      <small class="warning warning-unmatchpassword">Password doesn't match</small>
                    </div>
                  </div>
                </div>
              </div>
              <button id="savePassword-botton" class="btn">Save</button>
            </form>
          </div>

          <!-- settings avatar and background -->
          <div class="setting-container-content image hidden">
            <div class="setting-name-section">Avatar and Background</div>
            <div class="account-setting-section">
              <form>
                <div class="row">
                  <div class="col-3"> 
                    <span class="setting-item">Avatar</span>
                  </div>
                  <div class="file-reader col-8">
                    <div class="input-group mb-3">
                      <div class="custom-file image-file">
                        <input type="file" class="custom-file-input image-input" id="avatar-image">
                        <label class="custom-file-label image-label avatar-label" for="avatar">Choose file</label>
                      </div>
                    </div>
                    <div class="avatar-preview">
                      <img src="#">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3"> 
                    <span class="setting-item">Background</span>
                  </div>
                  <div class="file-reader col-8">
                    <div class="input-group mb-3">
                      <div class="custom-file image-file">
                        <input type="file" class="custom-file-input image-input" id="cover-image">
                        <label class="custom-file-label image-label cover-label" for="cover">Choose file</label>
                      </div>
                    </div>
                    <div class="cover-preview">
                      <img src="#">
                    </div>
                  </div>
                </div>

                <button id="image-submit-btn" class="btn">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>