  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-dark container" id="navbar">
      <div class="search-box-container ml-auto">
        <input id="search" type="text" name="search" placeholder="Any user interested?">
        <span class="search-icon" data-toggle="modal" data-target="#search-result-dialog" data-type="1">&#9906</span>
      </div>
      <a class="navbar-brand text-light" href="/overview"><div id="avatar"></div></a>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="avatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Unknown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div class="modal fade" id="search-result-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Search Results</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="search-criteria-container">
            <span class="search-criteria selected btn" data-type="1">MATCH NAME</span>
            <span class="search-criteria btn" data-type="2">NOT FOLLOWED</span>
            <span class="search-criteria btn" data-type="3">following EVERYONE</span>
          </div>
          <div class="result-container" style="display: flex; flex-wrap: wrap;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/template" data-template="user-card">
    <div class="profile-card" id="${card-id}">
      <a href="${url-1}" class="profile-card-bg" ${cover}></a>
      <div class="profile-card-content">
        <a href="${url-2}" class="profile-card-avatarlink">
          <img class="profile-avatar-image" src="${avatar}">
        </a>
        <div class="profile-card-actions">
        </div>
        <div class="profile-card-user-info">
          <div class="profile-username-section">
            <a href="${url-3}" class="profile-username-link">
              <span class="profile-username">${username}</span>
              <span class="profile-email">${email}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript">
    var popup = function() {
      $.ajax({
        method: "GET",
        url: "/accountinfo",
        dataType: "json",
        success: function(data) {
          var profile_avatar = data["avatar"] || "/assets/image/no_photo";
          $("#avatar").css("background-image", 'url(' + profile_avatar + ')');
          $("#avatarDropdown").text(data["username"]);
          $('#avatar').popover('dispose');
          $('#avatar').popover({
            trigger: 'hover',
            container: 'body',
            offset: 0,
            html: true,
            content:'<div class="popover-bg bg-dark"><div class="avatar-bg" style="background-image: url(' + profile_avatar + ')"></div><div class="avatar-title">' + data["username"] + '</div><div class="list-count">Recommendation Lists: ' + data["list_count"] + '</div><div class="friend-count">Friends: ' + data["friend_count"] + '</div></div>'
          });
        },
        error: function() {
          alert("Avatar error occur !");
        }
      });
    }

    $(function() {
      popup();
      var ids = [];
      function profileHelper(profile) {
        var template = $('script[data-template="user-card"]').text();
        var id = profile["id"];
        var params = {
          '${card-id}': "search-card-" + id,
          '${url-1}': "/overview/" + id,
          '${url-2}': "/overview/" + id,
          '${url-3}': "/overview/" + id,
          '${avatar}': profile["avatar"] || "/assets/image/no_photo",
          '${cover}': profile["cover"] ? 'style="background-image:url(' + profile["cover"] + ')"' : '',
          '${username}': profile["username"],
          '${email}': profile["email"]
        };
        $.each(params, function(key, value) {
          template = template.replace(key, value);
        });

        $(".result-container").append(template);
      }
      $(".search-criteria").on("click", function(ev) {
        $(".search-criteria.selected").removeClass("selected");
        $(ev.currentTarget).addClass("selected");
      })
      $(".search-icon, .search-criteria").on("click", function(ev) {
        var type = $(ev.currentTarget).data("type");
        var search = $("#search").val().trim();
        if (search.trim() !== "" || type === 3) {
          $.ajax({
            method: "POST",
            url: "/searchUser",
            data: {
              "search" : search,
              "type": type
            },
            success: function(data) {
              if (data["status"] === "success") {
                $(".result-container").empty();
                var result_list = data["result"];
                $.each(result_list, function(i, profile) {
                  profileHelper(profile);
                });
              } else {
                alert("Username Cannot be Empty!");
              }
            }
          })
        }
      });
    });
  </script>
