  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light active" href="explor">Explor</a>
      </li>
      <li class="nav-item ml-auto">
        <div class="account-action-group">
          <span><a class="text-light active account-action" href="/">Sign in</a></span>
          <span class="divider">|</span>
          <span><a class="text-light active account-action" href="/register">Sign up</a></span>
        </div>
      </li>
    </ul>
  </div>
